*.o
*.hi
*.chi
*.chs.h
.stack-work/
latex.out/

*.DS_Store
*.ptb
*.out
*.aux
*.log
*.fdb_latexmk
*.fls
*.el
paper/coq/*
paper/upload/*


*.swp
.#*

*.vo
*.glob
/coq/**/.depend

*.bbl
*.blg
*.gz
*.loe
